# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.so
.Python

#logs
Logs/
*log

# Archivos de sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.vscodium/
*.swp
*.swo

# Build
build/
*.bin

# Maldita gemini que da consejos malos y me hizo borrar mi repo
# Por suerte lo recupere. Les recomiendo lleven su propio control de
# veriones por si acaso git y la IA y los editores de código les fallan.
/.develop
